In [1]:
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('train.csv')

In [4]:
# We have seen that we don't need id and driving license. Drop these two
df = df.drop(['id', 'Driving_License'], axis=1)

In [5]:
# Region Code and sales channel should be categories, not integers. 
df[['Region_Code', 'Policy_Sales_Channel']] = df[['Region_Code', 'Policy_Sales_Channel']].astype('object')

In [6]:
df

,Gender,Age,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,Male,44,28,0,> 2 Years,Yes,40454.0,26,217,1
1,Male,76,3,0,1-2 Year,No,33536.0,26,183,0
2,Male,47,28,0,> 2 Years,Yes,38294.0,26,27,1
3,Male,21,11,1,< 1 Year,No,28619.0,152,203,0
4,Female,29,41,1,< 1 Year,No,27496.0,152,39,0
...,...,...,...,...,...,...,...,...,...,...
381104,Male,74,26,1,1-2 Year,No,30170.0,26,88,0
381105,Male,30,37,1,< 1 Year,No,40016.0,152,131,0
381106,Male,21,30,1,< 1 Year,No,35118.0,160,161,0
381107,Female,68,14,0,> 2 Years,Yes,44617.0,124,74,0
381108,Male,46,29,0,1-2 Year,No,41777.0,26,237,0

In [8]:
# Keep the response variable separately
target = df['Response']
df.drop('Response', axis=1, inplace=True)

In [9]:
# Save this preprocessed dataset as a pickle file
import pickle
with open('target', 'wb') as f:
    pickle.dump(target, f)
    
with open('preprocessed_data_frame', 'wb') as f:
    pickle.dump(df, f)