### See the EDA file before starting on this one ###
**Notebook 2**

In [9]:
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt

In [10]:
df = pd.read_csv('train.csv')

**Changed made:**
1. Dropped id and driving license
2. Converted region and sales channel to categories. These are later converted to either using WOE or bins
3. Removed the response variable from the dataset.

The preprocessed data and the response have been saved in pickle files

In [11]:
# We have seen that we don't need id and driving license. Drop these two
df = df.drop(['id', 'Driving_License'], axis=1)

In [12]:
# Region Code and sales channel should be categories, not integers. 
df[['Region_Code', 'Policy_Sales_Channel']] = df[['Region_Code', 'Policy_Sales_Channel']].astype('object')

In [13]:
df.head()

,Gender,Age,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,Male,44,28,0,> 2 Years,Yes,40454.0,26,217,1
1,Male,76,3,0,1-2 Year,No,33536.0,26,183,0
2,Male,47,28,0,> 2 Years,Yes,38294.0,26,27,1
3,Male,21,11,1,< 1 Year,No,28619.0,152,203,0
4,Female,29,41,1,< 1 Year,No,27496.0,152,39,0

In [14]:
# Keep the response variable separately
target = df['Response']
df.drop('Response', axis=1, inplace=True)

In [15]:
# Save this preprocessed dataset as a pickle file
import pickle
with open('target', 'wb') as f:
    pickle.dump(target, f)
    
with open('preprocessed_data_frame', 'wb') as f:
    pickle.dump(df, f)