WOE without interaction is around 0.82 (2% less than the current roc score of .84)

ADASYN and SMOTE both don't work. Score drops to around .62
Logistic Regression - 0.79
AdaBoosted and Bagging - 0.83

In [36]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, BaggingClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score
from sklearn.tree import DecisionTreeClassifier
from xgboost import XGBClassifier

In [16]:
from imblearn.under_sampling import RandomUnderSampler
from imblearn.ensemble import BalancedRandomForestClassifier, BalancedBaggingClassifier
from imblearn.over_sampling import SMOTE, ADASYN

In [17]:
df = pd.read_pickle('Dataframes/WOE_Encoded_with_Interaction')

In [18]:
target = pd.read_pickle('target')

In [19]:
# Shuffle the data
df['target'] = target
df = df.sample(frac=1)

target = df['target']
df.drop('target', axis=1, inplace=True)

In [20]:
df.head(5)

,Age,Region_Code,Previously_Insured,Annual_Premium,Policy_Sales_Channel,Vintage,Gender_Male,Vehicle_Age_Under_1_Year,Vehicle_Age_Over_2_Years,Vehicle_Damage_Yes,Previously_Insured_Gender,Previously_Insured_Vehicle_Damage,Vehicle_Age_Under_1_Vehicle_Damage,Vehicle_Age_Over_2_Vehicle_Damage,Gender_Vehicle_Damage
260027,54,0.499831,0,51855.0,-0.125013,273,1,0,0,1,0,0,0,0,1
149065,27,-0.272233,0,34510.0,-1.555892,175,0,1,0,1,0,0,1,0,0
296407,77,0.499831,1,25477.0,0.512838,84,0,0,0,0,0,0,0,0,0
139683,69,-0.123805,0,30645.0,0.512838,270,0,0,0,1,0,0,0,0,0
368679,24,-0.777376,1,27491.0,-1.555892,170,0,1,0,0,0,0,0,0,0

In [21]:
x_train, x_test, y_train, y_test = train_test_split(df, target)

The best two classifiers are Random Forest on an undersampled dataset, or Balanced Random Forest. Both are almost the same

In [22]:
rus = RandomUnderSampler()
x_train_resampled, y_train_resampled = rus.fit_resample(x_train, y_train)

In [23]:
rf = RandomForestClassifier(500, n_jobs=9, oob_score=True)
rf.fit(x_train_resampled, y_train_resampled)

RandomForestClassifier(n_estimators=500, n_jobs=9, oob_score=True)

In [24]:
roc_auc_score(y_test, rf.predict_proba(x_test)[:, 1])

0.8397652014952803

Perhaps a balanced random forest classifier will have better results, since it will use most of the data of the majority class.

In [25]:
bal_rf = BalancedRandomForestClassifier(500, oob_score=True, n_jobs=10)
bal_rf.fit(x_train_resampled, y_train_resampled)

BalancedRandomForestClassifier(n_estimators=500, n_jobs=10, oob_score=True)

In [26]:
roc_auc_score(y_test, bal_rf.predict_proba(x_test)[:, 1])

0.8395461502240977

Bagging a boosted model may increase the score, but will take far too much time.

In [27]:
adb = AdaBoostClassifier(DecisionTreeClassifier(max_depth=6), 50)
bagged_adb = BaggingClassifier(adb, n_estimators=50, n_jobs=10, oob_score=True)
bagged_adb.fit(x_train_resampled, y_train_resampled)

C:\Users\agast\anaconda3\lib\site-packages\sklearn\utils\validation.py:68: FutureWarning: Pass n_estimators=50 as keyword args. From version 0.25 passing these as positional arguments will result in an error
  warnings.warn("Pass {} as keyword args. From version 0.25 "

BaggingClassifier(base_estimator=AdaBoostClassifier(base_estimator=DecisionTreeClassifier(max_depth=6)),
                  n_estimators=50, n_jobs=10, oob_score=True)

In [28]:
roc_auc_score(y_test, bagged_adb.predict_proba(x_test)[:, 1]) # Good, but too slow

0.8333652642556787

XGB has the best score of the models we have tried so far, of 0.85. However, this is without any optimization at all

Can use Bayesian optimization to increase the score

In [37]:
xgb  = XGBClassifier()
xgb.fit(x_train_resampled, y_train_resampled)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=0, num_parallel_tree=1, random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [38]:
roc_auc_score(y_test, xgb.predict_proba(x_test)[:, 1])

0.8505520362598515

**To upload on the hackathon website to check score on actual test data**

In [39]:
test_df =pd.read_pickle('test_df_WOE_with_interaction')

In [40]:
test_df

,Age,Region_Code,Previously_Insured,Annual_Premium,Policy_Sales_Channel,Vintage,Gender_Male,Vehicle_Age_Under_1_Year,Vehicle_Age_Over_2_Years,Vehicle_Damage_Yes,Previously_Insured_Gender,Previously_Insured_Vehicle_Damage,Vehicle_Age_Under_1_Vehicle_Damage,Vehicle_Age_Over_2_Vehicle_Damage,Gender_Vehicle_Damage
id,,,,,,,,,,,,,,,
381110,25,-0.093676,1,35786.0,-1.555892,53,1,1,0,0,1,0,0,0,0
381111,40,0.499831,0,33762.0,-0.078471,111,1,0,0,1,0,0,0,0,1
381112,47,0.499831,0,40050.0,0.512838,199,1,0,0,1,0,0,0,0,1
381113,24,-0.553572,1,37356.0,-1.555892,187,1,1,0,1,1,1,1,0,1
381114,27,0.499831,1,59097.0,-1.555892,297,1,1,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
508142,26,-0.482034,1,30867.0,-1.555892,56,0,1,0,0,0,0,0,0,0
508143,38,0.499831,0,28700.0,0.405771,165,0,0,0,1,0,0,0,0,0
508144,21,-0.196729,1,29802.0,-1.555892,74,1,1,0,0,1,0,0,0,0
508145,71,0.499831,1,62875.0,0.578246,265,1,0,0,0,1,0,0,0,0
508146,41,0.007998,1,27927.0,0.512838,231,1,0,0,0,1,0,0,0,0

In [42]:
solution = pd.DataFrame(data= xgb.predict_proba(test_df)[:, 1], index=test_df.index, columns=['Response'])

In [43]:
solution.to_csv('solution_to_upload.csv')